{% extends 'base.html' %}

{% block title %}
This is temp
{% end %}

{% block body %}
    {% if username!= 'no' %}
    Username is {{ username }} <br>
    Password is {{ username }} <br>
    {% else %}
    please login
    <form action="" method="post" enctype="multipart/form-data">
        username： <input type="text" name="username" placeholder="请输入账号"> <br>
        password： <input type="password" name="password" placeholder="请输入密码"> <br>
        <input type="submit" title="确认">
    </form>
    {% end %}
{% end %}